/* Font global */
body {
  font-family: 'Lora', serif;
  color: #333;
}

/* Untuk heading elegan */
h1, h2, h3, .display-4 {
  font-family: 'Playfair Display', serif;
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}